*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #e7efff;
    padding: 24px;
    text-align: center;
}

h1, h2, h3{
    color: #111827;
    padding: 8px;
}

.card{
    background-color: rgb(218, 229, 255);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.exercicio{
    background-color: #bed7ff;
    width: 500px;
    margin: 8px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 68, 255, 0.229)
}

#contador {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 8px;
}

.grupoBotoes{
    display: flex;
    justify-content: center;
    gap: 8px;
    font-weight: bolder;
}

button{
    width: 80px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    background-color: #111827;
    transition: 0.3s;
    border: none;
    font-size: 24px;
}

#btnMenos{
    background-color: rgb(255, 46, 46);
    border: 2px solid rgb(178, 0, 0)
}

#btnMais{
    background-color: rgb(0, 233, 70);
    border: 2px solid rgb(0, 168, 50);
}

#btnZerar{
    background-color: rgb(93, 147, 255);
    border: 2px solid rgb(66, 105, 182);
    font-size: 18px;
}

#btnMenos:hover{
    background-color: rgb(202, 37, 37);
    transform: scale(1.05);
}

#btnMais:hover{
    background-color: rgb(0, 158, 47);
    transform: scale(1.05);
}

#btnZerar:hover{
    background-color: rgb(66, 105, 182);
    transform: scale(1.05);
}

/* exercício 02 */

#quadrado{
    width: 150px;
    height: 150px;
    border: 2px solid #111827;
    border-radius: 4px;
    margin: 12px auto;
    background-color: white;
}

span{
    font-weight: bold;
    font-style: italic;
}

/* exercício 03 */

#num1, #num2{
    padding: 10px;
    width: 166px;
    margin: 4px;
    margin-bottom: 12px;
    border: 2px solid black;
    border-radius: 4px;
}

#resultado{
    font-size: 32px;
    font-weight: bold;
    margin: 12px auto;
}